/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        ccc {
            bindings = <&kp B>;
            key-positions = <14 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
&kp ESC           &kp Q  &kp W  &kp F  &kp P  &kp B      &kp J           &kp L  &kp U      &kp Y      &kp QUOT  &kp BKSP
&kp TAB           &kp A  &kp R  &kp S  &kp T  &kp G      &bt BT_CLR_ALL  &kp N  &kp E      &kp I      &kp O     &kp QUOT
&kp LSHFT         &kp Z  &kp X  &kp C  &kp D  &kp V      &kp K           &kp H  &kp COMMA  &kp DOT    &kp SEMI  &kp RET
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp D  &kp SPACE                  &kp K  &kp H      &kp COMMA  &kp DOT   &kp SEMI
            >;
        };
    };
};
