/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        return {
            bindings = <&kp RET>;
            key-positions = <20 21>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <14 15>;
        };

        bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
&kp Q      &kp W      &kp F   &kp P   &kp B     &kp MINUS  &kp EQUAL  &kp J     &kp L      &kp U      &kp Y     &kp SEMI
&kp A      &kp R      &kp S   &kp T   &kp G     &kp LBKT   &kp RBKT   &kp M     &kp N      &kp E      &kp I     &kp O
&kp Z      &kp X      &kp C   &kp D   &kp V     &kp APOS   &kp BSLH   &kp K     &kp H      &kp COMMA  &kp DOT   &kp FSLH
&kp LSHFT  &kp LCTRL  &kp F1  &kp F1  &kp LALT  &kp SPACE             &kp BSPC  &kp ENTER  &kp RGUI   &kp RALT  &kp GRAVE
            >;
        };
    };
};
